@import "tailwindcss";

@theme {
  --text-caption: 0.75rem;
  --text-caption--line-height: 1rem;
  --text-body: 0.875rem;
  --text-body--line-height: 1.25rem;
  --text-title: 1.5rem;
  --text-title--line-height: 2rem;
}
